{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                {% for re in res %}
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="sidebar-title">{{ re.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </aside>            
    </div>
    <main id="page-content-wrapper" role="main">
        <h1>TEST</h1>
    </main>
</div> 
{% endblock %}
