<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> #}
        {% block stylesheets %}
        <style>
            @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

            body {
                background: lightgray;
            }

            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }

            .navbar-default .navbar-nav #user-profile {
                height: 50px;
                padding-top: 15px;
                padding-left: 58px;
            }

            .navbar-default .navbar-nav #user-profile img {
                height: 45px;
                width: 45px;
                position: absolute;
                top: 2px;
                left: 8px;
                padding: 1px;
            }

            #wrapper {
                padding-top: 50px;
                padding-left: 0;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }

            @media (min-width: 992px) {
                #wrapper {
                    padding-left: 225px;
                }
            }

            @media (min-width: 992px) {
                #wrapper #sidebar-wrapper {
                    width: 225px;
                }
            }

            #sidebar-wrapper {
                border-right: 1px solid #e7e7e7;
            }

            #sidebar-wrapper {
                z-index: 1000;
                position: fixed;
                left: 225px;
                width: 0;
                height: 100%;
                margin-left: -225px;
                overflow-y: auto;
                background: #f8f8f8;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
                -o-transition: all .5s ease;
                transition: all .5s ease;
            }

            #sidebar-wrapper .sidebar-nav {
                position: absolute;
                top: 0;
                width: 225px;
                font-size: 14px;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            #sidebar-wrapper .sidebar-nav li {
                text-indent: 0;
                line-height: 45px;
            }

            #sidebar-wrapper .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #428bca;
            }

            .sidebar-nav li:first-child a {
                background: #92bce0 !important;
                color: #fff !important;
            }

            #sidebar-wrapper .sidebar-nav li a .sidebar-icon {
                width: 45px;
                height: 45px;
                font-size: 14px;
                padding: 0 2px;
                display: inline-block;
                text-indent: 7px;
                margin-right: 10px;
                color: #fff;
                float: left;
            }

            #sidebar-wrapper .sidebar-nav li a .caret {
            position: absolute;
            right: 23px;
            top: auto;
            margin-top: 20px;
            }

            #sidebar-wrapper .sidebar-nav li ul.panel-collapse {
                list-style: none;
                -moz-padding-start: 0;
                -webkit-padding-start: 0;
                -khtml-padding-start: 0;
                -o-padding-start: 0;
                padding-start: 0;
                padding: 0;
            }

            #sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
                margin-right: 10px;
            }

            #sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
                text-indent: 15px;
            }

            @media (max-width: 992px) {
                #wrapper #sidebar-wrapper {
                    width: 45px;
                }
                #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
                    position: fixed;
                    left: 45px;
                    margin-top: -45px;
                    z-index: 1000;
                    width: 200px;
                    height: 0;
                }
            }

            .sidebar-nav li:first-child a {
                background: #92bce0 !important;
                color: #fff !important;
            }

            .sidebar-nav li:nth-child(2) a {
                background: #6aa3d5 !important;
                color: #fff !important;
            }

            .sidebar-nav li:nth-child(3) a {
                background: #428bca !important;
                color: #fff !important;
            }

            .sidebar-nav li:nth-child(4) a {
                background: #3071a9 !important;
                color: #fff !important;
            }

            .sidebar-nav li:nth-child(5) a {
                background: #245682 !important;
                color: #fff !important;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
        <a class="navbar-brand" href="#">Quizzy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher une categorie">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CATEGORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CREATE</a>
                    </li>
                    {# if logged in #}
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">MON PSEUDO</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 39px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#">Mon profile</a>
                        <a class="dropdown-item" href="#">Mes messages</a>
                        <a class="dropdown-item" href="#">Mon historique</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    {% if ('oui' == 'non') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">LOGIN</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
